{% extends "base.html" %}
{% block content %}


   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="img/blog/single_blog_1.png" alt="">
                  </div>
                  <div class="blog_details">
                     <h1>{{ post.title }}</h1>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="#"><i class="fa fa-user"></i> Travel, Lifestyle</a></li>
                     </ul>
                     <p class="excert">
                        {{ post.content | safe }}
                     </p>
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="navigation-area">
                     <div class="row">
                        {% if prev_article %}
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           <div class="thumb">
                              <a href="#">
                                 <img class="img-fluid" src="img/post/preview.png" alt="">
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="{% url 'post_detail' prev_article.slug %}">
                                 <span class="lnr text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           <div class="detials">
                              <p>Prev Post</p>
                              <a href="{% url 'post_detail' prev_article.slug %}">
                                 <h4>{{ prev_article }}</h4>
                              </a>
                           </div>
                        </div>
                        {% endif %}
                        {% if next_article %}
                        <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           <div class="detials">
                              <p>Next Post</p>
                              <a href="{% url 'post_detail' next_article.slug %}">
                                 <h4>{{ next_article }}</h4>
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="{% url 'post_detail' next_article.slug %}">
                                 <span class="lnr text-white ti-arrow-right"></span>
                              </a>
                           </div>
                           <div class="thumb">
                              <a href="#">
                                 <img class="img-fluid" src="img/post/next.png" alt="">
                              </a>
                           </div>
                        </div>
                        {% endif %}
                     </div>
                  </div>
               </div>
               <div class="blog-author">
                  <div class="media align-items-center">
                     <img src="img/blog/author.png" alt="">
                     <div class="media-body">
                           <h4>{{ post.author }}</h4>
                        <p>Second divided from form fish beast made. Every of seas all gathered use saying you're, he
                           our dominion twon Second divided from</p>
                     </div>
                  </div>
               </div>


            </div>
         {% block sidebar %}
            {% include 'sidebar.html' %}
         {% endblock sidebar %}
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->


{% endblock content %}